# IDE cruft
*.sublime-project
.idea

# node_modules
node_modules

# test logs and reports
test/reports/*
!test/reports/.gitkeep
integration/reports/*
!integration/reports/.gitkeep
selenium-debug.log

# big fat binaries that don't belong in source control
bin/*
!bin/.gitkeep

# JavaScript build output
www/js/app.js